#charts {
	padding: 20px;
	overflow: auto;
}

#charts canvas {
	float: left;
	margin-right: 40px;
	margin-bottom: 40px;
}

#sessions {
	float: right;
	width: 350px;
}

.session {
	position: relative;
	background-color: #e4e4e4;
	padding: 10px;
	margin-bottom: 3px;
	border-radius: 5px;
	-webkit-transform-origin-x: 0;
}

.session h3 {
	text-shadow: 1px 1px 1px #555;
	text-overflow: ellipsis;
	overflow: hidden; 
	white-space: nowrap;
}

.session .sid {
	position: absolute;
	top: 3px;
	right: 3px;
}